@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* border radius */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app2 {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  background-color: #f0f7f8;
  color: #425a65;
}
h1 {
  font-size: 6rem;
}
.button__wrapper {
  display: flex;
  gap: 1rem;
}
.button__wrapper > * {
  border: none;
  background-color: white;
  box-shadow: 0px 0px 10px #cfd8dc;
  font-weight: bold;
  font-size: 2rem;
  color: inherit;
  border-radius: 50%;
  outline: none;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, transform 50ms ease-in-out;
}
.button__wrapper > *:hover {
  background-color: #cfd8dc;
}
.button__wrapper > *:active {
  transform: scale(0.9);
}
.button__wrapper > *:focus {
  box-shadow: 0 0 0 3px #425a65;
}
.negative {
  color: #ff1744;
  animation: pulse 500ms ease-in-out;
}
.positive {
  color: #2abf77;
  animation: pulse 500ms ease-in-out;
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.blog-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #ccc;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: auto;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}


